<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/cadastro.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Carfix</title>
</head>
<body>
  <form action="/acesso" method="post">
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
      <div id="alerta" style="font-size: 20px;">
        {{mensagens[0]}}
      </div>
    {% endif %}

    <h1>Login</h1>

    <input type="text" name="email" placeholder="E-mail" required>
    <input type="password" name="senha" placeholder="Senha" required>
    
    <button type="submit" class="btn">Entrar</button>

    <a href="/cadastro" class="btn-link">Criar conta</a>
    <a href="/verificador" class="btn-link">Esqueci minha senha</a>
  </form>




  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

  
</body>
</html>